*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart
{
    height: 250px;
    width: 250px;
    background-color: rgb(255, 0, 0);
    transform: rotate(45deg);
    position: relative;
    animation: heartbeat 3s linear infinite;
}

.heart::before,
.heart::after
{
    position: absolute;
    content: '';
    height: 250px;
    width: 250px;
    background-color: rgb(255, 0, 0);
}

.heart::before
{
    top:  -150px;
    border-radius: 50% 50% 0 0;
}

.heart::after
{
    right: 150px;
    border-radius: 50% 0 0 50%;
}

@keyframes heartbeat
{
    0% { transform: rotate(45deg) scale(1); }
    10% { transform: rotate(45deg) scale(.8); }
    20% { transform: rotate(45deg) scale(1); }
    30% { transform: rotate(45deg) scale(.8); }
    40% { transform: rotate(45deg) scale(1); }
    50% { transform: rotate(45deg) scale(.8); }
    60% { transform: rotate(45deg) scale(1); }
    70% { transform: rotate(45deg) scale(.8); }
    80% { transform: rotate(45deg) scale(1); }
    90% { transform: rotate(45deg) scale(.8); }
    100% { transform: rotate(45deg) scale(1); }
}
